.logs-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.logs-card {
  background: white;
  padding: 30px;
  width: 750px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.logs-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background: #2563eb;
  color: white;
}

/* Status colors */
.success {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}